@import "app/sass/bourbon/bourbon";
@import "app/sass/neat/neat";

// ===================
// Variables
// ===================
$mobile: new-breakpoint(max-width 500px 4);
$darkseagreen: #84b586;
$darkslategray: #3b3538;
$black: #211c1f;
$whitesmoke: #ececec;


// ===================
// Main Content
// ===================
.select {
 text-decoration: line-through ;
}

.container {
 @include outer-container;
 font-family: 'Quicksand', sans-serif;
}

.todocontainer {
  @include span-columns(6);
  @include shift(3);
  @include media($mobile) {
  @include span-columns(3);
  }
  h1 {
    text-align: center;
    border: 5px solid $black;
  }
  .count {
    width: 12em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 2em;
  }
  .tasks {
    .entryField {
    width: 33em;
    height: 3em;
    margin-left: auto;
    margin-right: auto;
    }
    .subTask{
    width: 5em;
    margin-top: 1em;
    font-size: 12px;
    background-color: $darkseagreen;
    color: $whitesmoke;
    }
  }
    button {
    font-size: 12px;
    background-color: $darkseagreen;
    color: $whitesmoke;
    }
}
